{% extends 'base.html.twig' %}

{% block content_class %}about-content{% endblock %}

{% block title %}Grafy | Aktuálna teplota vody, Zlaté piesky, Bratislava{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}">&lt; späť</a>
        <h2>Grafy teploty vody, Zlaté Piesky, Bratislava</h2>

        {% for chart in charts %}
            {% set chart_index = loop.index %}
            {% if chart.chart_type == 'column' %}
                <table class="charts-css column hide-sdata show-labels data-spacing-1 show-primary-axis temperature-chart show-data-on-hover show-heading">
                    <caption>
                        <span class="caption">{{ chart.title }}</span>
                        <span aria-hidden="true"><span class="y-axis-min">{{ chart.minFormatted }}°C</span><span class="y-axis-max">{{ chart.maxFormatted }}°C</span></span></caption>
                    <tbody>
                        {% set last_index = chart.measurements | length - 2 %}
                        {% for measurement in chart.measurements %}
                            {% set shownLg = ((loop.index is divisible by chart.breakpoints.lg or loop.last)) and (chart.breakpoints.lg == 1 or loop.index0 != last_index) %}
                            {% set shownMd = ((loop.index is divisible by chart.breakpoints.md or loop.last)) and (chart.breakpoints.md == 1 or loop.index0 != last_index) %}
                            {% set shownXs = ((loop.index is divisible by chart.breakpoints.xs or loop.last)) and (chart.breakpoints.xs == 1 or loop.index0 != last_index) %}

                            {% set dataClass = (shownLg ? 'show-data-lg ' : '') ~ (shownMd ? 'show-data-md ' : '') ~ (shownXs ? 'show-data-sm ' : '') ~ 'show-data' %}
                            {% set dataColorClass = (shownLg ? 'data-color-lg ' : '') ~ (shownMd ? 'data-color-md ' : '') ~ (shownXs ? 'data-color-sm ' : '') ~ 'data-color' %}
                            <tr tabindex="0">
                                <th class="label {{ dataClass }}" scope="row">
                                    <div class="inner-label">
                                        {% if chart.label_type == 'datetime' %}
                                            <div>{{ measurement.measuredAt | date('G') }}:00</div>
                                            <span class="label-date">
                                        {{ measurement.measuredAt | date('d.m.') }}
                                    </span>
                                        {% else %}
                                            {{ measurement.measuredAt | date('d.m.') }}
                                        {% endif %}
                                    </div>
                                </th>
                                <td class="{{ dataColorClass }}" style="--size: {{ (((measurement.value - chart.min) / (chart.max - chart.min))) }};">
                                    {% if measurement.value is not null %}
                                        <span class="data {{ dataClass }}">
                                    {{ measurement.formattedValue(chart.decimal_places) }}°C
                                </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elseif chart.chart_type == 'pill' %}
                {%- for measurement in chart.measurements -%}
                    <span style="
                        display: inline-block;
                        border: 1px solid gray;
                        padding: 2px 6px;
                        border-radius: 5px;
                        margin-bottom: 4px;
                        margin-right: 4px;
                    ">
                        {{ measurement.measuredAt | date('d.m. G') }}:00: {{ measurement.formattedValue(chart.decimal_places) }}°C
                    </span>
                {%- endfor -%}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
